#addTopic
{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
#addTopic .card
{
    margin-left: auto;
    margin-right: auto;
}
.card-header
{
    display: flex;
    justify-content: center;
}