.topic-card
{
    width: 100% !important;
    margin: 1% 0;
    text-align: center;
}
.topic-card .info
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 4px 0 0;
}
.topic-card .info i
{
    margin-right: 4px;
}
.topic-card:hover
{
    background-color: rgba(174, 198, 248, 1);
}
a:hover
{
    text-decoration: none;
}