#singleTopic .card
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 92vh;
}
#singleTopic .card-text
{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
#singleTopic .card-subtitle
{
    display: flex;
    justify-content: space-between;
}
#singleTopic .card-subtitle span:hover
{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#singleTopic .card-subtitle i
{
    margin-right: 4px;
}
#singleTopic .topic-info
{
    margin: 0 4px 0 0;
}
#singleTopic .card-body
{
    overflow: auto
}
hr
{
    margin: 2px 0;
}